<a href="https://colab.research.google.com/github/PierreM31/Kaggle_Challenge_NYC/blob/master/model_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import lib

### Import TensorFlow GPU

In [3]:
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

### Other import

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import floor, ceil
import seaborn as sns
% matplotlib inline
plt.style.use('seaborn-whitegrid')

## Import data from BigQuerry

In [0]:
from google.cloud import bigquery

client = bigquery.Client(project='bigquery-public-data')

## Import data directly from Colab

In [5]:
df_train = pd.read_csv('train.csv', nrows=500_000, parse_dates=["pickup_datetime"])
df_train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2012-01-18 10:15:28.0000001,5.3,2012-01-18 10:15:28,-73.999906,40.727304,-74.001324,40.736911,1
1,2012-09-06 14:48:00.00000030,21.5,2012-09-06 14:48:00,-73.974438,40.754583,-73.979488,40.764328,5
2,2009-05-02 22:19:14.0000002,10.5,2009-05-02 22:19:14,0.000000,0.000000,0.000000,0.000000,1
3,2009-10-31 12:10:59.0000001,5.7,2009-10-31 12:10:59,0.000000,0.000000,0.000000,0.000000,1
4,2012-10-30 12:33:41.0000001,4.0,2012-10-30 12:33:41,-73.989309,40.763072,-73.988742,40.758697,1

## Preprocessing

In [6]:
print('Sample size before preprocessing: %d' % len(df_train))

Sample size before preprocessing: 174752

In [0]:
# drop-out negative fare
df_train = df_train[df_train.fare_amount>=0]

# drop-out non full line
df_train = df_train.dropna(how = 'any', axis = 'rows')

In [0]:
# minimum and maximum longitude test set
min(df_train.pickup_longitude.min(), df_train.dropoff_longitude.min()), \
max(df_train.pickup_longitude.max(), df_train.dropoff_longitude.max())

# minimum and maximum latitude test set
min(df_train.pickup_latitude.min(), df_train.dropoff_latitude.min()), \
max(df_train.pickup_latitude.max(), df_train.dropoff_latitude.max())

def select_within_boundingbox(df, BB):
    return (df.pickup_longitude >= BB[0]) & (df.pickup_longitude <= BB[1]) & \
           (df.pickup_latitude >= BB[2]) & (df.pickup_latitude <= BB[3]) & \
           (df.dropoff_longitude >= BB[0]) & (df.dropoff_longitude <= BB[1]) & \
           (df.dropoff_latitude >= BB[2]) & (df.dropoff_latitude <= BB[3])
  
# load image of NYC map
BB = (-74.5, -72.8, 40.5, 41.8)
nyc_map = plt.imread('https://aiblog.nl/download/nyc_-74.5_-72.8_40.5_41.8.png')

# load extra image to zoom in on NYC
BB_zoom = (-74.3, -73.7, 40.5, 40.9)
nyc_map_zoom = plt.imread('https://aiblog.nl/download/nyc_-74.3_-73.7_40.5_40.9.png')

df_train = df_train[select_within_boundingbox(df_train, BB)]

In [9]:
# Eead nyc mask and turn into boolean map with
# land = True, water = False
nyc_mask = plt.imread('https://aiblog.nl/download/nyc_mask-74.5_-72.8_40.5_41.8.png')[:,:,0] > 0.9

# Translate longitude/latitude coordinate into image xy coordinate
def lonlat_to_xy(longitude, latitude, dx, dy, BB):
    return (dx*(longitude - BB[0])/(BB[1]-BB[0])).astype('int'), \
           (dy - dy*(latitude - BB[2])/(BB[3]-BB[2])).astype('int')
  
pickup_x, pickup_y = lonlat_to_xy(df_train.pickup_longitude, df_train.pickup_latitude, 
                                  nyc_mask.shape[1], nyc_mask.shape[0], BB)
dropoff_x, dropoff_y = lonlat_to_xy(df_train.dropoff_longitude, df_train.dropoff_latitude, 
                                  nyc_mask.shape[1], nyc_mask.shape[0], BB)


idx = (nyc_mask[pickup_y, pickup_x] & nyc_mask[dropoff_y, dropoff_x])
print("Number of trips in water: {}".format(np.sum(~idx)))


def remove_datapoints_from_water(df):
    def lonlat_to_xy(longitude, latitude, dx, dy, BB):
        return (dx*(longitude - BB[0])/(BB[1]-BB[0])).astype('int'), \
               (dy - dy*(latitude - BB[2])/(BB[3]-BB[2])).astype('int')
      
    # define bounding box
    BB = (-74.5, -72.8, 40.5, 41.8)
    
    # read nyc mask and turn into boolean map with
    # land = True, water = False
    nyc_mask = plt.imread('https://aiblog.nl/download/nyc_mask-74.5_-72.8_40.5_41.8.png')[:,:,0] > 0.9
    
    # calculate for each lon,lat coordinate the xy coordinate in the mask map
    pickup_x, pickup_y = lonlat_to_xy(df.pickup_longitude, df.pickup_latitude, 
                                      nyc_mask.shape[1], nyc_mask.shape[0], BB)
    dropoff_x, dropoff_y = lonlat_to_xy(df.dropoff_longitude, df.dropoff_latitude, 
                                      nyc_mask.shape[1], nyc_mask.shape[0], BB)    
    # calculate boolean index
    idx = nyc_mask[pickup_y, pickup_x] & nyc_mask[dropoff_y, dropoff_x]
    
    # return only datapoints on land
    return df[idx]
  
  

df_train = remove_datapoints_from_water(df_train)

Number of trips in water: 32

In [10]:
print('Sample size after preprocessing: %d' % len(df_train))

Sample size after preprocessing: 171088

## Feature engineering

### Manhattan distance

In [11]:
# Given a dataframe, add two new features 'abs_diff_longitude' and 'abs_diff_latitude' reprensenting the vector from
# the pickup location to the dropoff location

def add_travel_vector_features(df):
    df['abs_diff_longitude'] = (df.dropoff_longitude - df.pickup_longitude).abs()
    df['abs_diff_latitude'] = (df.dropoff_latitude - df.pickup_latitude).abs()

add_travel_vector_features(df_train)


def convert_kilometers(train_df):
    train_df['abs_diff_longitude'] = train_df.abs_diff_longitude * 79.1
    train_df['abs_diff_latitude'] = train_df.abs_diff_latitude * 111
    
convert_kilometers(df_train)


### Angle difference between north, and manhattan roadways
meas_ang = 0.506 # 29 degrees = 0.506 radians
import math

## adding extra features
def add_extra_manh_features(df):
    df['euclidean_distance'] = (df.abs_diff_latitude**2 + df.abs_diff_longitude**2)**0.5  
    df['delta_manh_long'] = (df.euclidean_distance*np.sin(np.arctan(df.abs_diff_longitude / df.abs_diff_latitude)-meas_ang)).abs()
    df['delta_manh_lat'] = (df.euclidean_distance*np.cos(np.arctan(df.abs_diff_longitude / df.abs_diff_latitude)-meas_ang)).abs()
    df['manh_distance'] = df.delta_manh_long + df.delta_manh_lat
    df['euclidean_error'] = (df.manh_distance - df.euclidean_distance)*100 /  df.euclidean_distance

    
add_extra_manh_features(df_train)


df_train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_diff_longitude,abs_diff_latitude,euclidean_distance,delta_manh_long,delta_manh_lat,manh_distance,euclidean_error
0,2012-01-18 10:15:28.0000001,5.3,2012-01-18 10:15:28,-73.999906,40.727304,-74.001324,40.736911,1,0.112164,1.066377,1.072260,0.418746,0.987113,1.405859,31.111806
1,2012-09-06 14:48:00.00000030,21.5,2012-09-06 14:48:00,-73.974438,40.754583,-73.979488,40.764328,5,0.399455,1.081695,1.153095,0.174879,1.139757,1.314636,14.009324
4,2012-10-30 12:33:41.0000001,4.0,2012-10-30 12:33:41,-73.989309,40.763072,-73.988742,40.758697,1,0.044850,0.485625,0.487692,0.196144,0.446509,0.642654,31.774575
5,2014-07-21 22:15:00.000000159,30.0,2014-07-21 22:15:00,-73.875200,40.773922,-73.971135,40.753697,1,7.588458,2.244975,7.913572,5.549451,5.641650,11.191100,41.416557
6,2011-02-25 23:35:00.000000154,13.3,2011-02-25 23:35:00,-74.008035,40.705807,-73.987173,40.729433,5,1.650184,2.622486,3.098474,0.172327,3.093678,3.266005,5.406900

## Build the network

In [0]:
def get_model(n_x, n_h1, n_h2):
    model = tf.keras.Sequential()
    model.add(tf.keras.layers.Dense(n_h1, input_dim=n_x, activation='relu'))
    model.add(tf.keras.layers.Dense(n_h2, activation='relu'))
    model.add(tf.keras.layers.Dropout(0.5))
    model.add(tf.keras.layers.Dense(4, activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    print(model.summary())

    return model

In [59]:
import keras.backend as K

def rmse (y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred -y_true), axis=-1))

Using TensorFlow backend.

In [0]:
train_x = pd.DataFrame()
#train_x['pickup_longitude'] = df_train.pickup_longitude
#train_x['pickup_latitude'] = df_train.pickup_latitude
#train_x['dropoff_longitude'] = df_train.dropoff_longitude
#train_x['dropoff_latitude'] = df_train.dropoff_latitude
train_x['passenger_count'] = df_train.passenger_count
train_x['manh_distance'] = df_train.manh_distance

train_y = df_train.fare_amount

train_size = 0.0001
train_cnt = floor(train_x.shape[0] * train_size)
x_train = train_x.iloc[0:train_cnt].values
y_train = train_y.iloc[0:train_cnt].values
x_test = train_x.iloc[train_cnt:].values
y_test = train_y.iloc[train_cnt:].values

In [133]:
#input = tf.keras.Input(shape=(1,6), name='input_layer')

model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(32))
model.add(tf.keras.layers.Dense(32))
model.compile(tf.keras.optimizers.Adam(lr=0.0001), loss='categorical_crossentropy',metric = ["accuracy"])
#model.dropout = tf.keras.layers.Dropout(0.5)
# This builds the model for the first time:
model.fit(x_train, y_train, batch_size=32, epochs=1)

Epoch 1/1
17/17 [==============================] - 2s 129ms/step - loss: 2860.1370

In [134]:
#model.evaluate(x_train, y_train)
print (model.layers[1].get_weights()[0])

[[-0.04704117 -0.23780847  0.05665353 ... -0.1704575  -0.0700181
   0.26793444]
 [-0.19892591 -0.17566265  0.25048667 ... -0.02613095 -0.140344
  -0.29264674]
 [ 0.25148344  0.17939392  0.13581291 ... -0.2656156   0.25507444
  -0.1490782 ]
 ...
 [-0.15965092 -0.06928495  0.06141564 ...  0.10280624 -0.21995598
   0.13263214]
 [ 0.3037418   0.10099855 -0.27374157 ...  0.22747004 -0.03628492
  -0.10952316]
 [ 0.28657532 -0.0181162   0.15839204 ... -0.2461768  -0.23156306
  -0.13364267]]

In [101]:
print (x_train)

[[1.00000000e+00 1.40585891e+00]
 [5.00000000e+00 1.31463596e+00]
 [1.00000000e+00 6.42653585e-01]
 [1.00000000e+00 1.11911005e+01]
 [5.00000000e+00 3.26600533e+00]
 [1.00000000e+00 3.72498677e+00]
 [2.00000000e+00 1.33131502e+00]
 [1.00000000e+00 9.41587198e-01]
 [1.00000000e+00 2.02811375e+00]
 [1.00000000e+00 1.97841250e+00]
 [1.00000000e+00 3.06469095e+00]
 [3.00000000e+00 4.94514260e+00]
 [1.00000000e+00 9.77347687e-01]
 [1.00000000e+00 1.34869307e+00]
 [1.00000000e+00 3.14409635e+00]
 [1.00000000e+00 1.64840713e+00]
 [1.00000000e+00 9.81384915e+00]
 [1.00000000e+00 1.18475803e+00]
 [1.00000000e+00 9.61430105e-01]
 [1.00000000e+00 1.57482070e+00]
 [1.00000000e+00 8.41123297e+00]
 [1.00000000e+00 5.46536180e+00]
 [2.00000000e+00 1.72852006e+00]
 [2.00000000e+00 1.85531368e+00]
 [1.00000000e+00 2.71782796e+00]
 [1.00000000e+00 2.54573852e+00]
 [1.00000000e+00 3.92989054e+00]
 [3.00000000e+00 8.67455774e+00]
 [2.00000000e+00 3.53200861e+00]
 [1.00000000e+00 3.95551847e-01]
 [3.00000000e+00 6.29039553e-01]
 [1.00000000e+00 4.51088946e+00]
 [1.00000000e+00 1.52596731e+00]
 [1.00000000e+00 7.19397978e+00]
 [2.00000000e+00 8.75211348e-01]
 [1.00000000e+00 1.18221403e+00]
 [4.00000000e+00 6.16319548e+00]
 [1.00000000e+00 2.31941800e+01]
 [1.00000000e+00            nan]
 [6.00000000e+00 3.72358713e+00]
 [1.00000000e+00 1.71153782e+00]
 [2.00000000e+00 2.27316103e+00]
 [1.00000000e+00 2.18945322e+00]
 [3.00000000e+00 2.13055870e+00]
 [5.00000000e+00 1.02969684e+01]
 [1.00000000e+00 2.18935240e+00]
 [2.00000000e+00 5.50945246e+00]
 [1.00000000e+00 1.25742581e+01]
 [2.00000000e+00 1.28959006e+00]
 [1.00000000e+00 1.43111250e+00]
 [2.00000000e+00 7.06764176e+00]
 [1.00000000e+00 2.35340150e+00]
 [1.00000000e+00 1.81428443e+00]
 [2.00000000e+00 1.93936552e+00]
 [3.00000000e+00 2.92807805e+00]
 [1.00000000e+00 5.62158675e+00]
 [1.00000000e+00 1.45397325e+00]
 [1.00000000e+00 1.95534579e+00]
 [1.00000000e+00 3.29857577e+00]
 [1.00000000e+00 3.25263860e+00]
 [2.00000000e+00 6.87893428e-01]
 [1.00000000e+00 3.29661598e+00]
 [3.00000000e+00 2.18805932e+00]
 [6.00000000e+00 6.97051972e+00]
 [1.00000000e+00 3.20542329e+00]
 [1.00000000e+00 2.93302764e+00]
 [1.00000000e+00 1.13709880e+00]
 [1.00000000e+00 3.09672139e+00]
 [6.00000000e+00 4.85870782e+00]
 [1.00000000e+00 1.23227897e+00]
 [1.00000000e+00 2.22167037e+00]
 [1.00000000e+00 1.13797967e+01]
 [1.00000000e+00 4.46775765e+00]
 [1.00000000e+00 3.57765375e+00]
 [1.00000000e+00 6.26746244e+00]
 [5.00000000e+00 1.55441734e+00]
 [1.00000000e+00 4.48471376e+00]
 [3.00000000e+00 2.82258109e+00]
 [5.00000000e+00 9.41145772e-01]
 [5.00000000e+00 2.37205571e+00]
 [1.00000000e+00 8.08386645e-01]
 [1.00000000e+00 3.27371594e+00]
 [2.00000000e+00 4.49126546e+00]
 [1.00000000e+00 1.34234589e+00]
 [1.00000000e+00 1.14340898e-02]
 [4.00000000e+00 6.37473220e+00]
 [1.00000000e+00 4.65437501e+00]
 [1.00000000e+00 2.77806280e+00]
 [1.00000000e+00 6.10505948e-01]
 [1.00000000e+00 3.70706858e+00]
 [2.00000000e+00 2.91201040e+00]
 [2.00000000e+00 3.66262403e+00]
 [2.00000000e+00 2.41606009e+00]
 [1.00000000e+00 1.59090151e+00]
 [1.00000000e+00 3.66172405e+00]
 [4.00000000e+00 3.76603157e+00]
 [1.00000000e+00 1.57992094e+00]
 [1.00000000e+00 2.02811419e+00]
 [1.00000000e+00 3.67045647e+00]
 [1.00000000e+00 1.54145813e+00]
 [1.00000000e+00 4.76151960e+00]
 [1.00000000e+00 4.35232140e+00]
 [6.00000000e+00 2.29834520e+00]
 [1.00000000e+00 1.35207136e+01]
 [5.00000000e+00 1.93407589e+00]
 [2.00000000e+00 9.02175914e+00]
 [1.00000000e+00 3.12603137e+00]
 [1.00000000e+00 5.80778132e+00]
 [2.00000000e+00 1.84844805e+00]
 [1.00000000e+00 9.98145189e-01]
 [1.00000000e+00 4.43807267e+00]
 [5.00000000e+00 2.09183209e+00]
 [1.00000000e+00 3.66659999e+00]
 [1.00000000e+00 6.89159944e+00]
 [1.00000000e+00 1.04736509e+01]
 [1.00000000e+00 1.19078655e+00]
 [1.00000000e+00 2.88198414e+00]
 [1.00000000e+00 2.72822104e+00]
 [1.00000000e+00 3.82305291e+00]
 [1.00000000e+00 1.22097537e+00]
 [2.00000000e+00 1.42597541e+00]
 [1.00000000e+00 3.14001999e+00]
 [2.00000000e+00 7.32268189e-01]
 [1.00000000e+00 3.66308899e+00]
 [1.00000000e+00 1.10187572e+00]
 [1.00000000e+00 8.50439476e-03]
 [2.00000000e+00 1.42319369e+00]
 [2.00000000e+00 7.81152802e+00]
 [1.00000000e+00 1.48446902e+00]
 [2.00000000e+00 3.32889991e+00]
 [3.00000000e+00 1.65312838e+00]
 [1.00000000e+00 1.61164406e+00]
 [1.00000000e+00 1.24764864e+00]
 [1.00000000e+00 4.89843187e+00]
 [2.00000000e+00 1.97356139e+00]
 [1.00000000e+00 2.25511121e+00]
 [2.00000000e+00 4.51909789e+00]
 [1.00000000e+00 1.41808469e+00]
 [2.00000000e+00 1.68267282e+01]
 [1.00000000e+00 5.12107446e+00]
 [1.00000000e+00 9.40094675e+00]
 [1.00000000e+00 2.95546186e+00]
 [1.00000000e+00 2.91541660e+00]
 [2.00000000e+00 2.53929260e+00]
 [1.00000000e+00 1.67749677e+00]
 [1.00000000e+00 4.89773175e+00]
 [1.00000000e+00 2.53374103e-01]
 [2.00000000e+00 2.28240749e+00]
 [1.00000000e+00 1.50219863e+00]
 [1.00000000e+00 3.67612474e+00]
 [2.00000000e+00 3.94903133e+00]
 [1.00000000e+00 2.63891927e+00]
 [6.00000000e+00 8.70259018e+00]
 [1.00000000e+00 4.10889553e+00]
 [1.00000000e+00 1.04912638e+01]
 [1.00000000e+00 1.02953072e+00]
 [3.00000000e+00 3.42924850e+00]
 [1.00000000e+00 1.18149620e+00]
 [1.00000000e+00 2.64041534e+00]
 [1.00000000e+00 2.64110937e+00]
 [2.00000000e+00 1.37277263e+00]
 [1.00000000e+00 1.28498851e+00]
 [1.00000000e+00 4.22624330e+00]
 [2.00000000e+00 2.59041396e+00]
 [2.00000000e+00 3.49144456e+00]
 [1.00000000e+00 2.54240488e+01]
 [1.00000000e+00 2.08073401e+00]
 [1.00000000e+00 1.20449865e+00]
 [1.00000000e+00 2.04239488e+00]
 [5.00000000e+00 1.21760050e+00]
 [1.00000000e+00 8.71417633e-01]]

In [66]:
print (model.predict(x_test[0]))
#print(x_test[0])

InvalidArgumentError: ignored